<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Charles Babbage</title>
</head>
<body>
    <a id="topPage"></a>
    <div class="page-Container">
        <header>
            <div id="logoBanner">
                <a href="../index.html">Digital House Heroes</a>
            </div>
        </header>
        <main>
            <section class="hero_Page">
                <h1 class = "hero_Title" >Charles Babbage</h1>
                <img class = "hero_Image" src = "../img/babbage.jpg ">
                <div class = "hero_Details">
                    <p>Charles Babbage<br> Walworth (Londres, Reino Unido) 1791. <br>Marylebone (Londres, Reino Unido) 1871. <br> Matemático e ingeniero mecánico británico que diseñó y construyó parcialmente la primera máquina calculadora mecánica diferencial y una máquina analítica. Conocido por muchos como el padre de la computación digital.</p>
                </div>
            </section>
        </main>
        <footer>
            <div class="main-footer">
                <div id="socialIcons">
                    <a href="https://github.com/AlexQS96"><i class="fa fa-github"></i></a>
                </div>
                <div id="footerEnd">
                    <p>Digital House Heroes</p>
                    <p>2021</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

