<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Arthur C.Clarke</title>
</head>
<body>
    <a id="topPage"></a>
    <div class="page-Container">
        <header>
            <div id="logoBanner">
                <a href="../index.html">Digital House Heroes</a>
            </div>
        </header>
        <main>
            <section class="hero_Page">
                <h1 class = "hero_Title" >Arthur C.Clarke</h1>
                <img class = "hero_Image" src = "../img/clarke.jpg ">
                <div class = "hero_Details">
                    <p class = "texto" >Clarke, fue un escritor y científico británico. Autor de obras de divulgación científica y de ciencia ficción, como la novela 2001: Una odisea del espacio, El centinela o Cita con Rama y coguionista de la película 2001: Una odisea del espacio.</p>
                </div>
            </section>
        </main>
        <footer>
            <div class="main-footer">
                <div id="socialIcons">
                    <a href="https://github.com/AlexQS96"><i class="fa fa-github"></i></a>
                </div>
                <div id="footerEnd">
                    <p>Digital House Heroes</p>
                    <p>2021</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

