<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Margaret Hamilton</title>
</head>
<body>
    <a id="topPage"></a>
    <div class="page-Container">
        <header>
            <div id="logoBanner">
                <a href="../index.html">Digital House Heroes</a>
            </div>
        </header>
        <main>
            <section class="hero_Page">
                <h1 class = "hero_Title" >Margaret Hamilton</h1>
                <img class = "hero_Image" src = "../img/hamilton.jpg ">
                <div class = "hero_Details">
                    <p class = "texto" >Margaret Hamilton fue una auténtica pionera y visionaria de la programación informática, una mujer que ayudó a crear lo que serían las bases de la ingeniería de software y que, probablemente, evitó el desastre durante el aterrizaje del Apolo 11 haciendo posible que el hombre llegara a la Luna</p> 
                </div>
            </section>
        </main>
        <footer>
            <div class="main-footer">
                <div id="socialIcons">
                    <a href="https://github.com/AlexQS96"><i class="fa fa-github"></i></a>
                </div>
                <div id="footerEnd">
                    <p>Digital House Heroes</p>
                    <p>2021</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

