<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Grace Murray Hopper</title>
</head>
<body>
    <a id="topPage"></a>
    <div class="page-Container">
        <header>
            <div id="logoBanner">
                <a href="../index.html">Digital House Heroes</a>
            </div>
        </header>
        <main>
            <section class="hero_Page">
                <h1 class = "hero_Title" >Grace Murray Hopper</h1>
                <img class = "hero_Image" src = "../img/hopper.jpg ">
                <div class = "hero_Details">
                    <p class = "texto" >Grace Murray Hopper nació el 9 de diciembre de 1906, en Nueva York, y murió en Arlington, Virginia (USA) el 1 de enero de 1992. Hopper fue uno de los programadores del primer gran ordenador, el Mark I. Su trabajo dió lugar al primer lenguaje compilador para ordenadores.</p>
                </div>
            </section>
        </main>
        <footer>
            <div class="main-footer">
                <div id="socialIcons">
                    <a href="https://github.com/AlexQS96"><i class="fa fa-github"></i></a>
                </div>
                <div id="footerEnd">
                    <p>Digital House Heroes</p>
                    <p>2021</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

